// --------------------------------------------------------------------------
//! Standard Elegant Chaos debug configuration settings.
//
// (c) Elegant Chaos.
// --------------------------------------------------------------------------

#include "ECFoundationSharedSettings.xcconfig"

// --------------------------------------------------------------------------
// Build Options
// --------------------------------------------------------------------------

RUN_CLANG_STATIC_ANALYZER = YES

// --------------------------------------------------------------------------
// Code Generation
// --------------------------------------------------------------------------

GCC_DYNAMIC_NO_PIC = NO
GCC_OPTIMIZATION_LEVEL = 0

// --------------------------------------------------------------------------
// Deployment
// --------------------------------------------------------------------------

COPY_PHASE_STRIP = NO

