// --------------------------------------------------------------------------
//! Standard Elegant Chaos configuration settings.
//
// (c) Elegant Chaos.
// --------------------------------------------------------------------------


// --------------------------------------------------------------------------
// Build Options
// --------------------------------------------------------------------------

// --------------------------------------------------------------------------
// Deployment
// --------------------------------------------------------------------------

INSTALL_PATH = $(HOME)/Applications

// --------------------------------------------------------------------------
// Architectures
// --------------------------------------------------------------------------

ARCHS = $(ARCHS_STANDARD_32_64_BIT)
SDKROOT = macosx
MACOSX_DEPLOYMENT_TARGET = 10.5


// --------------------------------------------------------------------------
// Code Generation
// --------------------------------------------------------------------------

//GCC_VERSION = com.apple.compilers.llvmgcc42 // temporarily use gcc because of xcode 4 problem
GCC_MODEL_TUNING = G5

