[submodule "Modules/ECUnitTests"]
	path = Modules/ECUnitTests
	url = git://github.com/samdeane/ECUnitTests.git
[submodule "Modules/ECCore"]
	path = Modules/ECCore
	url = git://github.com/samdeane/ECCore.git
[submodule "Modules/ECLogging"]
	path = Modules/ECLogging
	url = git://github.com/samdeane/ECLogging.git
[submodule "Modules/ECText"]
	path = Modules/ECText
	url = git://github.com/samdeane/ECText.git
[submodule "Modules/ECTouch"]
	path = Modules/ECTouch
	url = git://github.com/samdeane/ECTouch.git
