// --------------------------------------------------------------------------
//! Standard Elegant Chaos debug configuration settings.
//
// (c) Elegant Chaos.
// --------------------------------------------------------------------------

#include "ECFoundationSharedSettings.xcconfig"

// --------------------------------------------------------------------------
// GCC 4.2 Code Generation
// --------------------------------------------------------------------------

GCC_DYNAMIC_NO_PIC = NO
GCC_OPTIMIZATION_LEVEL = 0

// --------------------------------------------------------------------------
// Deployment
// --------------------------------------------------------------------------

COPY_PHASE_STRIP = NO
