// --------------------------------------------------------------------------
//! Standard Elegant Chaos release configuration settings.
//
// (c) Elegant Chaos.
// --------------------------------------------------------------------------

#include "ECFoundationSharedSettings.xcconfig"

// --------------------------------------------------------------------------
// Code Generation
// --------------------------------------------------------------------------

GCC_OPTIMIZATION_LEVEL = s

// --------------------------------------------------------------------------
// Deployment
// --------------------------------------------------------------------------

COPY_PHASE_STRIP = YES
GCC_WARN_UNINITIALIZED_AUTOS = YES
