// --------------------------------------------------------------------------
//! Standard Elegant Chaos configuration settings.
//
// (c) Elegant Chaos.
// --------------------------------------------------------------------------

// --------------------------------------------------------------------------
// Architectures
// --------------------------------------------------------------------------

ARCHS = $(ARCHS_STANDARD_32_BIT)
SDKROOT = iphoneos

// --------------------------------------------------------------------------
// Packaging
// --------------------------------------------------------------------------

PUBLIC_HEADERS_FOLDER_PATH = include

// --------------------------------------------------------------------------
// Code Signing
// --------------------------------------------------------------------------

CODE_SIGN_IDENTITY[sdk=iphoneos*] = iPhone Developer

// --------------------------------------------------------------------------
// Deployment
// --------------------------------------------------------------------------

TARGETED_DEVICE_FAMILY = 1,2
IPHONEOS_DEPLOYMENT_TARGET = 3.1.3