// --------------------------------------------------------------------------
//! Standard Elegant Chaos release configuration settings.
//
// (c) Elegant Chaos.
// --------------------------------------------------------------------------

#include "ECFoundationReleaseSettings.xcconfig"
#include "ECIOSSharedSettings.xcconfig"


// --------------------------------------------------------------------------
// GCC 4.2 Language
// --------------------------------------------------------------------------

//OTHER_CFLAGS = -DNS_BLOCK_ASSERTIONS=1
