// --------------------------------------------------------------------------
//! Standard Elegant Chaos debug configuration settings.
//
// (c) Elegant Chaos.
// --------------------------------------------------------------------------

#include "ECFoundationDebugSettings.xcconfig"
#include "ECMacSharedSettings.xcconfig"

// --------------------------------------------------------------------------
// Architectures
// --------------------------------------------------------------------------

ONLY_ACTIVE_ARCH = YES

// --------------------------------------------------------------------------
// Deployment
// --------------------------------------------------------------------------

COPY_PHASE_STRIP = NO

// --------------------------------------------------------------------------
// GCC 4.2 Code Generation
// --------------------------------------------------------------------------

GCC_ENABLE_FIX_AND_CONTINUE = YES
GCC_DYNAMIC_NO_PIC = NO
GCC_OPTIMIZATION_LEVEL = 0

