// --------------------------------------------------------------------------
//! Standard Elegant Chaos release configuration settings.
//
// (c) Elegant Chaos.
// --------------------------------------------------------------------------

#include "ECFoundationReleaseSettings.xcconfig"
#include "ECMacSharedSettings.xcconfig"

// --------------------------------------------------------------------------
// Build Options
// --------------------------------------------------------------------------

DEBUG_INFORMATION_FORMAT = dwarf-with-dsym

// --------------------------------------------------------------------------
// Deployment
// --------------------------------------------------------------------------

COPY_PHASE_STRIP = YES

// --------------------------------------------------------------------------
// GCC 4.2 Code Generation
// --------------------------------------------------------------------------

GCC_ENABLE_FIX_AND_CONTINUE = NO

// --------------------------------------------------------------------------
// GCC 4.2 Warnings
// --------------------------------------------------------------------------

GCC_WARN_UNINITIALIZED_AUTOS = YES

// --------------------------------------------------------------------------
// User Defined
// --------------------------------------------------------------------------

ZERO_LINK = NO
