// --------------------------------------------------------------------------
//! Standard Elegant Chaos configuration settings.
//
// (c) Elegant Chaos.
// --------------------------------------------------------------------------


// --------------------------------------------------------------------------
// Deployment
// --------------------------------------------------------------------------

INSTALL_PATH = $(HOME)/Applications

// --------------------------------------------------------------------------
// Architectures
// --------------------------------------------------------------------------

ARCHS = $(ARCHS_STANDARD_32_64_BIT)
SDKROOT = macosx
MACOSX_DEPLOYMENT_TARGET = 10.5


// --------------------------------------------------------------------------
// Code Generation
// --------------------------------------------------------------------------

GCC_MODEL_TUNING = G5

