// --------------------------------------------------------------------------
//! Standard Elegant Chaos configuration settings.
//
// (c) Elegant Chaos.
// --------------------------------------------------------------------------


// --------------------------------------------------------------------------
// Build Options
// --------------------------------------------------------------------------

PRECOMPS_INCLUDE_HEADERS_FROM_BUILT_PRODUCTS_DIR = NO

// --------------------------------------------------------------------------
// Deployment
// --------------------------------------------------------------------------

INSTALL_PATH = $(HOME)/Applications

// --------------------------------------------------------------------------
// Architectures
// --------------------------------------------------------------------------

ARCHS = $(ARCHS_STANDARD_32_64_BIT)
SDKROOT = macosx10.6

// --------------------------------------------------------------------------
// GCC 4.2 Code Generation
// --------------------------------------------------------------------------

GCC_MODEL_TUNING = G5
