// --------------------------------------------------------------------------
//! Standard Elegant Chaos configuration settings.
//
// (c) Elegant Chaos.
// --------------------------------------------------------------------------

// --------------------------------------------------------------------------
// Architectures
// --------------------------------------------------------------------------

ARCHS = $(ARCHS_STANDARD_32_BIT)
SDKROOT = iphoneos3.2

// --------------------------------------------------------------------------
// Compiler Version
// --------------------------------------------------------------------------

GCC_VERSION = com.apple.compilers.llvm.clang.1_0

// --------------------------------------------------------------------------
// Deployment
// --------------------------------------------------------------------------

TARGETED_DEVICE_FAMILY = 1,2
IPHONEOS_DEPLOYMENT_TARGET = 3.1.3

// --------------------------------------------------------------------------
// Compiler Language
// --------------------------------------------------------------------------

GCC_C_LANGUAGE_STANDARD = compiler-default
