// --------------------------------------------------------------------------
//! Standard Elegant Chaos release configuration settings.
//
// (c) Elegant Chaos.
// --------------------------------------------------------------------------

#include "ECFoundationReleaseSettings.xcconfig"
#include "ECTouchSharedSettings.xcconfig"

// --------------------------------------------------------------------------
// Build Options
// --------------------------------------------------------------------------

VALIDATE_PRODUCT = YES

// --------------------------------------------------------------------------
// Code Signing
// --------------------------------------------------------------------------

CODE_SIGN_IDENTITY[sdk=iphoneos*] = iPhone Distribution: Sam Deane


// --------------------------------------------------------------------------
// GCC 4.2 Language
// --------------------------------------------------------------------------

OTHER_CFLAGS = -DNS_BLOCK_ASSERTIONS=1
