// --------------------------------------------------------------------------
//! Standard Elegant Chaos release configuration settings.
//
// (c) Elegant Chaos.
// --------------------------------------------------------------------------

#include "ECFoundationAdHocSettings.xcconfig"
#include "ECIOSReleaseSettings.xcconfig"

// --------------------------------------------------------------------------
// Build Options
// --------------------------------------------------------------------------

VALIDATE_PRODUCT = YES

// --------------------------------------------------------------------------
// Code Signing
// --------------------------------------------------------------------------

CODE_SIGN_IDENTITY[sdk=iphoneos*] = iPhone Distribution
